:root {
    --primary-color: #0f1b4c;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 8px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
/* ============header ==================*/
.header {
    background-color: #e6f0ff;
    width: 1440px;
    height: 100vh;
    gap: 0px;
    opacity: 0px;
    position: relative;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}
.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    padding: 8px 15px;
}
.navbar .action .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar .action-btn {
    margin-left: 18px;
    padding: 13px 16px;
}

.hero {
    margin-top: 140px;
}
.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.18;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}
.hero-img {
    position: absolute;
    right: 65px;
    border-top: 0;
}
